@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:ital,wght@0,300;1,400&display=swap');
  
  .headerHome {
      width: 100%;
      height: 624px;
      background: rgba(119, 37, 103, 0.3490196078);
    }
    
    .imageContainer {
      position: relative;
    }
    
    .vectorIconBlock {
      position: absolute;
      top: 18px;
      left: 61px;
    }
    
    .vectorButton {
      cursor: pointer;
    }
    
    .vectorBandBlock {  
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .imageContainer2 {
      position: relative;
    }
    
    .vectorEllipse {
      position: absolute;
      top: -142px;
      left: 1384px;
    }
    
    .vectorBandBlock2 {
      position: absolute;
      top: -141px;
      left: 1105px;
    }
    
    .vectorPhoneNumber {
      z-index: 999;
      position: absolute;
      width: 190.63px;
      height: 18.11px;
      top: -120px;
      left: 1190px;
      padding: 10px 12px 10px 12px;
      border-radius: 12px;
      border: 2px solid #FFD400;
      cursor: pointer;
    }
    .vectorPhoneNumber .ahref-number {
      position: relative;
      top: 0px;
    }
    .vectorPhoneNumber .phone-number-call {
      position: relative;
      top: -39.5px;
      left: 28px;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      width: 170px;
      cursor: pointer;
    }
    
    .linkBtnToPlan {
      width: 250px;
    }
    
    .vectorBandBlock3 {
      position: relative;
    }
    .vectorBandBlock3 .vectorModel {
      position: absolute;
      top: -45px;
      left: 792px;
    }
    
    .vectorBandBlock4 {
      position: relative;
    }
    .vectorBandBlock4 .vectorIconBlock {
      position: absolute;
      top: 361px;
      left: 0px;
    }
    .vectorBandBlock4 .vectorEllipse2 {
      position: absolute;
      top: 358px;
      left: 0px;
    }
    
    .vectorBandText {
      position: relative;
      width: 740px;
      height: 165px;
      top: 0px;
      left: 160px;
    }
    .vectorBandText .vectorEllipseText {
      font-family: 'Montserrat', sans-serif; 
      position: absolute;  
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      top: 20px;
      left: 15px;
    }
    .paragraphPln { 
      position: relative;
      top: -35px;
      left: 0px;
      width: 440px;
      font-size: 27px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;

    }
    .vectorBandText .vectorEllipseText span {
      color: #FFD400;
    }
    
    .vectorButton {
      position: relative;
      width: 280px;
      height: 50px;
      text-align: center;
      background-color: #FFD400;
      border: 1px solid #FFD400;
      border-radius: 17px;
      font-weight: 500;
      cursor: pointer;
      top: 110px;
      left: 180px;
      display: flex; /* Added this property to enable flexbox */
      justify-content: center; /* Added this property to center the content horizontally */
      align-items: center;
      p {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        color: #fff; 
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
  
      }
    }
    
    .block-content {
      position: relative;
      top: 50px;
      left: 180px;
      width: 70%;
      border-radius: 35px;
    }
    .block-content .block-container {
      width: 642px;
      height: 128px;
      top: 715px;
      left: 162px;
    }
    .block-content .block-container h4 {
      position: relative;
      font-size: 36px;
      font-weight: 600;
      color: #772567;
      top: 10px;
      left: 30px;
    }
    .block-content .block-container .descriptionP {
      position: relative;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0em;
      color: #772567;
      width: 350px;
      top: -25px;
      left: 30px;
    }
    .block-content .block-container .mugalim {
      position: relative;
      width: 218px;
      height: 51px;
      top: -190px;
      left: 400px;
      font-size: 42px;
      font-weight: 500;
      color: #FFD400;
    }
    .block-content .block-container .vector {
      position: relative;
      width: 265px;
      height: 16px;
      top: -230px;
      left: 365px;
      border: 3px;
    }
    .block-content .block-container .vectorLine {
      position: relative;
      width: 504px;
      height: 167px;
      top: -190px;
      left: 145px;
      border: 3px;
    }
    .block-content .block-container .vectorContent {
      position: relative;
      width: 440px;
      height: 271px;
      top: -470px;
      left: 650px;
    }
    .block-content .block-container .vectorBulb {
      position: relative;
      width: 112px;
      height: 110px;
      top: 150px;
      left: -45px;
    }
    .block-content .block-container .vectorEarth {
      position: relative;
      width: 112px;
      height: 110px;
      top: -100px;
      left: 955px;
    }
    .block-content .block-container .vectorPencil {
      position: relative;
      width: 62px;
      height: 96px;
      top: -770px;
      left: 250px;
    }
    .block-content .block-container .vectorPencil23 {
      position: relative;
      width: 440px;
      height: 440px;
      top: -105px;
      left: 10px;
    }
    .block-content .block-container .academicСap {
      position: relative;
      width: 146px;
      height: 140px;
      top: -70px;
      left: 700px;
    }
    .block-content .block-container .bamboo {
      position: relative;
      width: 87px;
      height: 114px;
      top: -200px;
      left: -180px;
    }
    .block-content .block-container .ball {
      position: relative;
      width: 96px;
      height: 90px;
      top: 350px;
      left: -260px;
    }
    .block-content .block-container .oneSt {
      position: relative;
      width: 123px;
      height: 113px;
      top: 200px;
      left: 850px;
    }
    
    .container {
      font-family: "Montserrat Alternates", sans-serif;
      position: relative;
      height: 370px;
      top: -690px;
      left: 562px;
      width: 38vw;
      border-radius: 50px;
      z-index: 9999;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08098);
  }
    .container .idealPlan {
      position: relative;
      width: 360px;
      height: 44px;
      top: 25px;
      left: 30px;
      font-size: 36px;
      font-weight: 600;
      color: #772567;
    }
    .container .descriptionPlan {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      width: 550px;
      height: 135px;
      top: 10px;
      left: 30px;
      font-weight: 600;
      font-size: 22px; 
      color: #772567;
    }
    
    .blockContentBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 50px;
      background-color: #FFD400;
      border: 1px solid #FFD400;
      border-radius: 17px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 80px;
      margin-left: 30px;
    }
    .blockContentBtn .orderPlan { 
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin: 0;
      color: #fff;
      font-size: 17px; 
      font-size: 20px; 
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;

    }
    .vectorBulb2 {  
      position: relative;
      top: 1510px;
      left: -200px;
    }
    
    .vectorpencil { 
      position: relative; 
      top: 1130px;
      left: -565px;
    }

    .bamboo2 { 
      position: relative;
      top: 1220px;
      left: -267px;
    }
    
    .star {
      position: relative;
      width: 16px;
      height: 16px;
      top: -165px;
      left: 555px;
    }
    
    .star1 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -110px;
      left: 640px;
    }
    
    .star2 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -115px;
      left: 400px;
    }
    
    .star3 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -170px;
      left: 220px;
    }
    
    .star4 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -40px;
      left: -80px;
    } 
    
    .star5 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -120px;
      left: -220px;
    }
    
    .star6 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -70px;
      left: -370px;
    }
    
    .star7 {
      position: relative;
      width: 16px;
      height: 16px;
      top: -160px;
      left: -500px;
    }
    
    .star8 {
      position: relative;
      width: 16px;
      height: 16px;
      top: 330px;
      left: 550px;
    }
    
    .star9 {
      position: relative;
      width: 16px;
      height: 16px;

      top: 350px;
      left: -40px;
  
    }
    .star93 {
      position: relative;
      width: 16px;
      height: 16px;
      top: 300px;
      left: 50px;
    }
    
    .content-arrow {
      position: relative;
      top: -680px;
      left: 470px;
    }
    
    .block-case-study {
      position: relative;
      width: 340px;
      top: -613px;
      left: 121px;
      border-radius: 40px;
    }
    .block-case-study .block1-case-study {
      position: relative;
      top: 0px;
      left: -200px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08098);
      border-radius: 40px;
      width: 600px;
      height: 270px;
    }
    .block-case-study .block1-case-study h4 {
      font-family: 'Montserrat Alternates', sans-serif;
      position: relative;
      top: 30px;
      left: 60px;
    }
    .block-case-study .block1-case-study p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      position: relative;
      width: 470px;
      height: 135px;
      top: 10px;
      left: 64px;
      font-size: 19px; 
      line-height: 22px;
      color: #772567; 
    }
    .block-case-study .block2-case-study {
      position: relative;
      width: 400px;
      height: 400px;
      top: -360px;
      left: 520px;
    }
    
    .block-content-info {
      position: relative;
      width: 1200px;
      height: 257px;
      top: -890px;
      left: -10px;
      border-radius: 36px;
      background: #CDB0C7;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
    }
    .block-content-info .content-frame {
      position: relative;
      width: 314px;
      height: 303px;
      top: -47px;
      left: 25px;
    }
    .block-content-info .block-content-text1 {
      font-family: 'Montserrat Alternates', sans-serif;
      position: relative;
      width: 550px;
      height: 78px;
      top: -315px;
      left: 400px;
      font-size: 35px;
      font-weight: 600;
      color: #772567;
    }
    .block-content-info .block-content-text2 {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      width: 350px;
      height: 39px;
      top: -330px;
      left: 400px;
      font-size: 35px;
      font-weight: 600;
      color: #FFFFFF;
    }
    .block-content-info .block-content-textImg {
      position: relative;
      width: 331px;
      height: 16px;
      top: -350px;
      left: 400px;
    }
    .block-content-info .block-content-btn {
      position: relative;
      width: 250px;
      height: 50px;
      top: -340px;
      left: 600px;
      border-radius: 14px;
      background: #772567;
      box-shadow: 0px 4px 18px 0px rgba(119, 37, 103, 0.2509803922);
    }
    .block-content-info .block-content-text-btn {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      display: flex;
      width: 150px;
      justify-content: center;
      align-items: center;
    }
    
    .content-arrow2 {
      position: relative;
      top: -900px;
      left: 500px;
    }
    
    .block-content-advertising-form1 {
      position: relative;
      width: 319px;
      height: 392px;
      top: -1010px;
      left: -85px;
    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 {
      position: relative;
      width: 319px;
      height: 187px;
      top: 259px;
      left: 70px;
      border-radius: 10px 10px 80px 80px;
      background: #FDE159;
    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 .block-content-advertising-form-block3 {
      position: relative;
      width: 265px;
      height: 265px;
      top: -120px;
      left: 27px;
      border-radius: 24px;
      background: #772567;
    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 .block-content-advertising-form-block3 .block-content-advertising-form-block4 {
      position: relative;
      width: 132px;
      height: 66px;
      top: 198px;
      left: 37px;
      transform: rotate(223deg);
      background: #772567;
    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 .block-content-advertising-form-block3 .block-content-advertising-form-block4 .block-content-advertising-form-block4-h4 {
      position: relative;
      width: 230px;
      height: 58px;
      top: 96px;
      left: -3px;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      transform: rotate(137deg);
    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 .block-content-advertising-form-block3 .block-content-advertising-form-block5 {
      position: relative;
      width: 160px;
      height: 80px;
      top: -133px;
      left: 52px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      transform: rotate(180deg);
      background: #A06795;
    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 .block-content-advertising-form-block3 .block-content-advertising-form-block5-h4 {
      position: relative;
      width: 19px;
      height: 59px;
      top: 25px;
      left: 74px;
      transform: rotate(180deg);
      font-size: 50px;
      font-weight: 600;
      line-height: 59px;
      letter-spacing: 0em;
      text-align: center;
      color: #FDE159;
    }
    
    .block-content-advertising-form-block11 {
      position: relative;
      top: -219px;
      left: 440px;
    }
    
    .block-content-advertising-form-block22 {
      position: relative;
      top: -437px;
      left: 870px;
    } 

  /* Адаптивные стили для мобильной версии */


  @media (min-width: 768px) {
    .vectorMob  {
      display: none;
    }
    .vectorMob2  {
      display: none;
    }
    .vectorPK  {
      display: none;
    }
    .vector8Lamp{
      display: none;
    }
    .group89Mess  {
      display: none;
    }
    .group89Mess2  {
      display: none;
    }
    .group67Earth{
      display: none;
    }
    .group67Earth2{
      display: none;
    }
    .GroupBook64 {
      display: none;
    }
    .group68A {
      display: none;
    }
    .group68A2 {
      display: none;
    }
    .oneSt3 {
      display: none;
    }
    .oneSt2 {
      display: none;
    }
    .ball2 {
      display: none;
    }
    .block-content .block-container .vectorPencil {
      display: none;
  }
  }
  @media screen and (max-width: 767px) {
    .headerHome {
      width: 100%;
      /* height: 43%; */
      min-height: 70vh;
    }
    .vectorIconHeader {
      position: relative;
      width: 180px;
      height: 79px;
      top: -10px;
      left: -110px;

    }
    .block-content-advertising-form1 .block-content-advertising-form-block2 .block-content-advertising-form-block3 .block-content-advertising-form-block5-h4 {
      position: relative;
      width: 19px;
      height: 59px;
      top: 25px;
      left: 74px;
      transform: rotate(180deg);
      font-size: 50px;
      font-weight: 600;
      line-height: 59px;
      letter-spacing: 0em;
      text-align: center;
      color: #FDE159;
  }
    .imageContainer {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .group67Earth2 {
      position: relative; 
      top: 910px;
      left: 335px;

    }

    .vectorIconBlock {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto;
      .vector-icon-favicon {
        position: relative;
        width: 56px;
        height: 45px;
        top: -85px;
        left: -150px;
        
      }
    }
  .vector-band-blockCla {
    position: relative;
    top: 100px;
  }
    .vectorBandBlock { 
      img {
        background-repeat: no-repeat;
        position: relative;
        width: 180px;
        height: 79px;
        top: -10px;
        left: 0px;
        border: 3px;

      }
    }

    .imageContainer2 {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    .vectorEllipse {
      display: none;
    }

    .vectorBandBlock2 {
      display: none;
    }

    .vectorPhoneNumber {
      position: relative;
      top: -115px;
      left: 170px;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      border: 0px solid #FFd400;
      width: 170px;
      cursor: pointer; 
    }
    .vector-model {
      position: relative;
      width: 297px;
      height: 251px;
      top: -20px;
      left: 41px;
    }  
    .PhoneNumber{
      display: none;
    }

    .phone-number-call {
      top: -180px;
      left: 80px;
    }

    

    .vectorBandBlock4 .vectorIconBlock,
    .vectorBandBlock4 .vectorEllipse2 {
      display: none;
    }

    .vectorBandText {
      top: 80px;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      text-align: center;
    }

    .vectorBandText .vectorEllipseText {
      position: relative; 
      top: -150px;
      left: -5px;
      font-size: 27px;
      .paragraphPln { 
        position: relative;
        text-align: center;
        width: 298px;
        top: -10px;
        left: 40px; 
        font-size: 18px;
        line-height: 23px;
      }

    }

    .paragraphPln {
      top: 0;
      left: 0;
      width: 100%;
    }

    .vectorButton {
      top: -120px;
      left: 49%;
      transform: translateX(-50%);
    }

    .block-content {
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }

    .block-content .block-container {
      top: 0;
      left: 0;
      width: 100%;
    }

    .block-content {
      left: 0;
      top: 0;
      width: 100%;
      border-radius: 0;
    }

    .container { 
      position: relative;
      width: 366px;
      height: 335px;
      top: -770px;
      left: 207px;
      border-radius: 30px;
      .idealPlanner {
        width: 176px;
        height: 22px;
        top: 670px;
        left: 110px;
      }
      .descriptionPlan {
        text-align: center;
        position: relative;
        width: 270px;
        height: 136px;
        font-size: 17px;
        top: -340px;
        left: 45px;
      }  
    }
    .container .idealPlan {
      position: relative;
      width: 200px;
      height: 44px;
      top: -220px;
      left: 74px;
      font-size: 20px;
      font-weight: 600;
      color: #772567;
    }
    .vectorButton p { 
      font-size: 15px; 
  }
  .blockContentBtn .orderPlan { 
    font-size: 15px; 
} 
  .block-content-info .block-content-text-btn {
    top: -2px;
    font-size: 15px;
}
.block-content-text-btn {
  font-size: 15px;
}
    .block-content .block-container .vectorPencil23 {
      position: relative;
      width: 330px;
      height: 310px;
      top: 110px;
      left: 220px;
    }
    .blockContentBtn {
      position: relative;
      top: -350px;
      left: 10px;
      width: 290px;
      border-radius: 12px;
    }
    .content-arrow {
      height: 70px;
      top: -440px;
      left: 330px;
      transform: rotate(10deg);
    }
    .block-case-study
      .block2-case-study {
        position: relative;
        width: 285px;
        height: 294px;
        top: 320px;
        left: 70px;
        img {
          position: relative;
          width: 300px;
          height: 300px;
          top: -120px;
          left: 50px;
        }
      }
    .block-case-study .block1-case-study {
      position: relative;
      width: 335px;
      height: 220px;
      top: 150px;
      left: 100px;
      
      h4 { 
        font-size: 20px;
        top: 25px;
        left: 95px;
        width: 230px;    
    }
    p {
      text-align: center;
      top: 10px;
      left: 18px;
      width: 290px;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
    }
    }
    .block-content-info {
      width: 341px;
      height: 410px;
      top: -320px;
      left: 220px;
      border-radius: 22px;
      .content-frame {
        width: 124.05px;
        height: 120px;
        top: 10px;
        left: 110px;
      }
      .block-content-text1 {
        width: 310px;
        height: 44px;
        top: 10px;
        left: 16px;
        text-align: center;
        font-size: 18px;
      }
      .block-content-text2 {
        width: 310px;
        height: 44px;
        top: 10px;
        left: 16px;
        text-align: center;
        font-size: 20px;
      }
      .block-content-textImg {
        width: 245px;
        height: 18px;
        top: -15px;
        left: 46px;
        text-align: center;
      }
      .block-content-btn {
        width: 245px;
        height: 50px;
        top: 20px;
        left: 48px;
        text-align: center;
      }
    }
    .content-arrow2 {
      width: 60px;
      height: 70px;
      top: -300px;
      left: 360px;
    } 
    .block-content-advertising-form1 {
      position: relative;
      width: 319px;
      height: 392px;
      top: -950px;
      left: -80px;
  }
    .block-content-advertising-form-block1 {
      position: relative;
      width: 261px;
      height: 287px;
      top: 510px;
      left: 240px;
    }
    .block-content-advertising-form-block11 {
      position: relative;
      width: 261px;
      height: 287px;
      top: 560px;
      left: 240px;
    }
    .block-content-advertising-form-block22 {
      position: relative;
      width: 261px;
      height: 287px;
      top: 610px;
      left: 240px;
    }
    .block-content .block-container .academicСap {
      width: 90px;
      height: 86px;
      top: -190px;
      left: 495px;
      transform: rotate(-90deg);
    }
    .block-content .block-container .oneSt {
      width: 60px;
      height: 60px;
      top: -20px;
      left: 520px;
    }
    .block-content .block-container .vectorEarth{
      width: 50px;
      height: 53px; 
      top: -60px;
      left: 265px;
    }
    .container-form-block2 { 
      width: 390px;
      height: 125px; 
      border-radius: 16px; 
  }
  .input-container {
    position: relative;
    width: 266px;
    height: 535px;
    top: 0px;
    left: 123px;
    border-radius: 14px;
}  
.block-content .block-container .ball {
  position: relative;
  width: 70px;
  height: 65px;
  top: 410px;
  left: -116px;
}
    .star1 {
      width: 17px;
      height: 15px;
      top: 10px;
      left: 222px;
    }
    .star2 {
      width: 17px;
      height: 15px;
      top: 659px;
      left: 222px;
    }
    .star3 {
      position: relative;
      width: 16px;
      height: 16px;
      top: 660px;
      left: 80px;
  }
  .star4 {
    position: relative;
    width: 16px;
    height: 16px;
    top: 1140px;
    left: 60px;
}
.star5 {
  position: relative;
  width: 16px;
  height: 16px;
  top: 1280px;
  left: 250px
}
.star6 {
  position: relative;
  width: 16px;
  height: 16px;
  top: 1300px;
  left: -70px;
}
      .star8 {
        width: 12px;
        height: 11px;
        top: 188px;
        left: 200px;
    }
    .star {
      width: 19px;
      height: 15px;
      top: -3px;
      left: 100px;
    }
    .vectorBandBlock3 .vectorModel {
      position: relative;
      width: 0px;
      top: -45px;
      left: 0px;
  }
  .block-content .block-container .bamboo {
    position: relative;
    width: 87px;
    height: 114px;
    top: 220px;
    left: 108px;
}
  .block-content .block-container .vectorPencil {
    width: 45px;
    height: 50px;
    top: 240px;
    left: 80px;
    }
    .vectorMob {
      position: relative;
      width: 56px;
      height: 70px;
      top: 4350px;
      left: 207px;
    }
    .vectorMob2 {
      position: relative;
      width: 56px;
      height: 70px;
      top: 2890px;
      left: 380px;
    }
    .vectorPK { 
      position: relative;
      width: 56px;
      height: 70px;
      top: 3030px;
      left: -40px;
    }
    .oneSt2 {
      position: relative;
      width: 56px;
      height: 70px;
      top: 3700px;
      left: 310px;
    }
    .group89Mess {
      position: relative;
      width: 66px;
      height: 80px;
      top: 3680px;
      left: 90px;
    }
    .ball2 { 
      position: relative;
      top: 3000px;
      left: 353px; 
    }
    .group68A {
      position: relative; 
      top: 2630px;
      left: -40px;
    }
    .group67Earth { 
      position: relative;
      top: 2440px;
      left: 260px;
    }
    .group89Mess2 { 
      position: relative;
      top: 2250px;
      width: 70px;
      left: -130px;
    }
    .oneSt3 {
      position: relative;
      width: 60px;
      top: 2160px;
      left: 124px;
  }
    .group68A2 {
      position: relative;
      width: 60px;
      top: 1300px;
      left: -270px;
    }
    .vector8Lamp {
      position: relative; 
      top: 1909px;
      left: 30px;
    }
    .GroupBook64 {
      position: relative; 
      top: 1730px;
      left: -15px;
    }
    .vectorBulb2 {
      position: relative;
      width: 100px;
      top: 70px;
      left: 40px;
  }
  }
  @media screen and (max-width: 560px) {
    .container {
      left: 208px;
  }
  .group67Earth {
    position: relative;
    top: 2440px;
    left: 255px;
}
.block-content .block-container .vectorPencil23 {
  left: 225px;
}
.block-case-study .block1-case-study {
  left: 100px; 
}
.block-case-study .block2-case-study img {
  left: 50px;
}
.block-content-info {
  left: 222px;
}
  .content-arrow2 { 
    left: 390px;
  }
  .block-content-advertising-form1 {
    left: -80px;
  }
.vectorMob {
  left: 185px;
}
.vectorPhoneNumber .phone-number-call { 
  left: 23px; 
}
  .oneSt2 {
    left: 270px;
}
  .group89Mess {
    left: 75px;
}

  .vectorIcon {
    top: 40px;
    left: 150px;
  }
.contactsFooter { 
  left: -28px;
}
.footer-link { 
  left: -255px;
}
.social-links { 
  left: -10px;
}
.footerIcons h4 { 
  left: -100px;
}
.vectorPK { 
  left: 15px;
}
.ball2 {
  left: 345px;
}
.vector8Lamp {
  left: 25px;
}
.group67Earth2 {
  left: 326px;
}
.block-content .block-container .oneSt { 
  top: 20px; 
}
.block-content .block-container .academicСap {
  left: 475px;
  top: -255px;
} 
.block-content .block-container .vectorEarth {
  left: 240px;
}
.container .idealPlan { 
  left: 85px; 
}
} 
@media screen and (max-width: 360px) {
  .vectorPhoneNumber .phone-number-call {
    left: 5px;
}
.content-arrow2 {
  left: 340px;
}
.block-content .block-container .vectorEarth {
  left: 240px;
}
.vectorMob {
  left: 450px;
  top: 4204px;
}
.block-case-study .block2-case-study img {
  left: 20px;
}
.vectorIconBlock .vector-icon-favicon { 
  left: -140px;
}
.vectorIconHeader {
  left: -90px;
}
.container {
  left: 174px;
}
.block-content .block-container .vectorEarth {
  left: 220px;
}
.block-content .block-container .oneSt { 
  top: -20px;
  left: 450px;
}
.block-content .block-container .bamboo { 
  top: 85px;
  left: 90px;
}
.block-content .block-container .vectorPencil23 {
  left: 195px;
}
.block-content .block-container .academicСap {
  left: 465px;
}
.block-case-study .block1-case-study {
  left: 70px;
}
.block-content .block-container .oneSt { 
  left: 430px;
}
.block-content .block-container .ball { 
  top: 370px;
  left: -116px;
}
.group68A2 { 
  left: -250px;
}
.group67Earth2 {
    left: 320px;
} 
.block-content-info {
  left: 190px;
}
.block-content-advertising-form1 {
  left: -109px;
}
.vectorMob2 { 
  left: 295px;
}
.vector8Lamp {
  left: 15px;
}
.ball2 {
  left: 341px;
}
.container-form-block2 .group72 {
  left: -12px;
}
.group67Earth {
  position: relative;
  top: 2330px;
  left: 250px;
}
.oneSt3 {
  position: relative;
  width: 60px;
  top: 2200px;
  left: 120px;
} 
.block-content .block-container .academicСap {
  left: 450px;
  top: -250px;
}
}