.container-form {
    position: relative;
    width: 100%;
    height: 780px;
    top: 2450px;
    left: -4px;
    border-radius: 65px;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.070980);
    background: #fff;
    .container-form-block1-h3 {
        font-family: "Montserrat", sans-serif;
        position: relative;
        width: 89px;
        height: 29px;
        top: 47px;
        left: 310px;
        font-size: 24px;
        font-weight: 700;
        color: #000000;
    }
}
.input-container {
    position: relative;
    width: 320px;
    height: 535px;
    top: 0px;
    left: 130px;
    border-radius: 14px;
    
    .input-text {
        font-family: "Montserrat", sans-serif;
        position: relative;
        margin: 5px 0 10px 0;
        width: 380px;
        height: 45px;
        top: 60px;
        left: 30px;
        border-radius: 14px;
        border: 1px solid #F5F5F5;
        background: #F5F5F5;
        padding-left: 20px;
        z-index: 9999;
    }
}
.block-content-btn {
    position: relative;
    width: 385px;
    height: 50px;
    top: 80px;
    left: 12.5%;
    border-radius: 14px;
    background: #772567;
    box-shadow: 0px 4px 18px 0px #77256740; 
    border: 1px solid #772567;
    cursor: pointer;
}
.error {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    top: 70px;
    left: 40px;
    font-size: 11px;
    color: red;
    margin: -15px 0 10px 0;
}
.block-content-text-btn {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.container-form-block2 {
    position: relative; 
    width: 602px;
    height: 125px;
    top: 85px;
    left: 658px;
    border-radius: 16px;
    
    .container-form-block2-p1 {
        position: relative;
        width: 370px;
        height: 60px;
        top: -680px;
        left: 168px;
        font-size: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        border: 1px solid #D5CBFB;
        border-radius: 15px;
        background: #D5CBFB;
        color: #fff;

    }
    .container-form-block2-p2 {
        position: relative;
        width: 445px;
        height: 60px;
        top: -740px;
        left: 130px;
        font-size: 40px;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        border: 1px solid #D5CBFB;
        border-radius: 15px;
        background: #D5CBFB;
        color: #fff;
    }
    .group72 {
        position: relative;
        width: 637px;
        height: 518px;
        top: -710px;
        left: 100px;

    }
}
.text-box-lesson {
    position: relative;
    left: 50px;
}
@media screen and (max-width: 767px) {
    .container-form {
        width: 100%;
        height: 1070px;
        top: 3080px;
        left: -1px;
        border-radius: 42px;
    }
.container-form-block2{
    width: 323px;
    height: 262px;
    top: -670px;
    left: 34px;
    .group72 {
        position: relative;
        width: 323px;
        height: 262px;
        top: 80px;
        left: 0px;
    }
}
.error {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    top: 32px;
    left: 40px;
    font-size: 11px;
    color: red;
    margin: -20px 0 10px 0;
}
.block-content-text-btn {
    top: -2px;
    font-size: 15px;
}
.text-box-lesson {
    position: relative; 
    top: 800px;
    left: -180px;
    .container-form-block2-p1 {
        width: 220px;
        height: 40px;
        top: -716px;
        left: 230px;
        font-size: 20px;
    }
    .container-form-block2-p2 {
        width: 290px;
        height: 44px;
        top: -746px;
        left: 197px;
        font-size: 20px;
    }
}
.container-form .container-form-block1-h3 {
    position: relative;
    width: 89px;
    height: 29px;
    top: 460px;
    left: 151px;
    color: #772567;
}   
.input-container .input-text {
    width: 320px;
    top: 20px;
    left: 30px;
}
.block-content-btn {
    position: relative;
    width: 320px;
    height: 50px;
    top: 40px;
    left: 12%;
}
.form {
    position: relative;
    width: 342px;
    height: 535px;
    top: 440px;
    left: -75px;
    border-radius: 14px;
}
.input-container {
    position: relative;
    width: 320px;
    height: 535px;
    top: 0px;
    left: 70px;
    border-radius: 14px;
}
}
    @media screen and (max-width: 560px) {
        .block-content .block-container .oneSt {
            width: 60px;
            height: 61px;
            top: -20px;
            left: 200px;
        }
        .input-container { 
            left: 55px; 
        }
        .vectorIconHeader { 
            left: -120px;
        } 
        .text-box-lesson {
            left: -180px;
        }
        .form {
            left: -60px;
        }
        .container-form .container-form-block1-h3 { 
            left: 160px; ;
        }
        .container-form-block2 .group72 {
            left: 0px;
        }
    }
    @media screen and (max-width: 360px) {
        .text-box-lesson {
            left: -200px;
        }
        .container-form-block2 .group72 {
            left: -15px;
        }
        .form {
            left: -61px;
        }
        .container-form .container-form-block1-h3 {
            left: 135px;
        }
        .input-container {
            left: 40px;
        }
    }