 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.containerF{
    position: relative;
    width: 100%;
    height: 372px;
    top: 3145px;
    background: #772567B2;    
}
a {
    text-decoration: none;
    color: #fff;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
} 
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
 
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col2 {
    position: relative;
    left: 180px;
}

.vectorIcon {
    position: relative;
    width: 113px;
    height: 91px;
    top: 60px;
    left: 100px;
}
.discriptionFooter { 
    position: relative;
    width: 312px;
    height: 210px;
    top: 60px;
    left: 120px;

    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    color: #FFFFFF;
}
.contactsFooter {
    position: relative;
    width: 133px;
    height: 35px;
    top: 50px;
    left: 190px;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;

} 

.main-link {
    position: absolute;
    width: 0; 
    text-decoration: none;
    color: white;
}
.footer-link {
    text-decoration: none;
    color: white;
}
.phoneFooter {
    position: relative; 
    top: 48px;
    left: 191px;
}

.phoneNumberFooter {
    position: relative;
    width: 189px;
    height: 22px;
    top: -6px;
    left: 220px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff; 
}

.emailFooter {
    position: relative;
    width: 35px;
    height: 35px;
    top: 14px;
    left: 183px; 
}

.emailFooterP {
    position: relative;
    width: 221px;
    height: 22px;
    top: -40px;
    left: 222px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.social-links {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 35px;
    height: 161px;
    top: 10px;
    left: 200px; 
}

.footerIcons {
    position: relative;
    left: 450px;
}
 
.social-links a {
  display: inline-block;
  margin-right: 40px;  
}
 
.social-links img {
  width: 30px;  
  height: 30px;  
} 
.social-links {
  display: flex;
  align-items: center; 
  top: -20px;
  left: 195px;
}


.footerIcons h4 {
    position: relative;
    width: 116px;
    height: 35px;
    top: 50px;
    left: 190px;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 35px;
    color: #fff;
}


@media screen and (max-width: 767px) {
    .containerF {
        width: 100%;
        height: 545px;
        top: 4360px;
    }
    .vectorIcon{ 
        top: 40px;
        left: 140px;
    }
    .contactsFooter {
        width: 102px;
        height: 25px;
        top: 130px;
        left: -30px;
     }
     .footer-link {
         position: relative;
         top: 80px;
         left: -270px;
        } 
        .footerIcons h4 {
            position: relative; 
            top: 30px;
            left: -105px;
        }
        .social-links {
            position: relative;
            top: -120px;
            left: -20px;
        }
        .footer-col2 {
            position: relative;
            left: 55px;
        }
        .footerIcons {
            position: relative;
            left: 250px;
        }
        .social-links a {
            position: relative;
            display: inline-block;
            margin-right: 40px;
            left: -120px;
            top: 85px;
        }
    }
    
    @media screen and (max-width: 360px) { 
        .vectorPhoneNumber { 
            left: 165px; 
        }
        .footerIcons { 
            left: 244px;
        }
        .footer-col2 {
            left: 26px;
        }
        .vectorIcon {
            top: 40px;
            left: 126px;
        }
        .contactsFooter { 
            left: -27px;
        }
        .footer-link { 
            left: -270px;
        }
        .footerIcons h4 { 
            left: -120px;
        }
        .social-links { 
            left: -35px;
        }
    }