body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f6f6;
}
 
@font-face {
  font-family: 'fontawesome';
  src: url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
}